#loading {
    background: url('https://media.tenor.com/hlKEXPvlX48AAAAi/loading-loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
  }